Adafruit-Blinka==8.39.1
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-ccs811==1.3.15
adafruit-circuitpython-connectionmanager==1.2.0
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.2.6
adafruit-circuitpython-scd4x==1.4.2
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
APScheduler==3.10.4
blinker==1.8.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorzero==2.0
Flask==3.0.3
gpiod==2.1.3
gpiozero==2.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
lgpio==0.2.2.0
MarkupSafe==2.1.5
mysql-connector-python==8.4.0
numpy==2.0.0
opencv-python==4.10.0.84
paho-mqtt==2.1.0
psutil==5.9.8
pyftdi==0.55.4
pyserial==3.5
pytz==2024.1
pyusb==1.2.1
requests==2.32.3
rpi-lgpio==0.5
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing_extensions==4.11.0
tzlocal==5.2
urllib3==2.2.1
Werkzeug==3.0.2
numpy>=1.21.0
simplejpeg>=1.4.0
