[Unit]
Description=My Python Script Service
After=network.target

[Service]
Type=simple
User={{USERNAME}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{PYTHON_EXEC}} {{SCRIPT_PATH}}
Restart=on-failure

[Install]
WantedBy=multi-user.target
